.username {
	color: #333;

	&:hover {
		color: #6C7A89;
	}
}

.user-info {
	border-bottom: 2px solid #333;
	background-color: #fff;
	padding-top: 2em;
	padding-bottom: 1em;
}

.dash-photo {
	border-radius: 50%;
	margin-bottom: 1em;
}

.dash-heading {
	text-transform: capitalize;
	font-size: 32px;
	margin-top: 0.8em;
}

.post-preview {
	background-color: #fff;
	padding: 1em 2em 2.5em 2em;
	margin-top: 2em;
	height: 450px;
	position: relative;
	border: 2px solid #333;
}

.post-title {
	margin-top: 1em;
	margin-bottom: 2.5em;
		a {
			color: #333;
			font-size: 32px;

			&:hover {
				text-decoration: underline;
			}
		}
}

.extra {
	position: absolute;
	bottom: 2em;
	width: 83%;
}

.tags {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}

.pagination {
	margin-top: 1.5em;
	border-radius: 0;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
	border-radius: 0;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius: 0;
}

.pagination>.active>a {
	background-color: #333;
	border-color: #333;
	color: #fff;

	&:hover {
		background-color: #6C7A89;
		border-color: #6C7A89;
	}
}