/* Internal Nav */
.int-nav {
    padding: 1em;
    padding-bottom: 3em;

    ::-webkit-input-placeholder {
    color: #fff;
    }

    ::-moz-placeholder {
        color: #fff;
    }

    :-ms-input-placeholder {  
       color: #fff;  
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}

.btn-search {
    color: #fff;
    background-color: rgba(62, 63, 73, 0.5);
    border-color: transparent;
}

.search {
    color: #fff;
    background-color: rgba(62, 63, 73, 0.5);
    border-color: transparent;

    &:focus {
        border-color: transparent;
    }
}

.btn-nav {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: transparent;
    border-radius: 0px;
    text-transform: uppercase;
    margin-top: 0.6em;

    &:hover {
        color: #fff;
        text-decoration: none;
        border-color: transparent;
    }
}

/* Bootstrap Nav */
.navbar {
	margin-bottom: 0;
}

.navbar-default {
    max-width: 100%;
	background-color: #416db4;
	border-color: transparent;
}

.navbar {
	border-radius: 0px;
}

/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #416db4;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #416db4;
}

.navbar-form {
    padding: 0px;
}