.title {
    padding-top: 2em;
    padding-bottom: 1em;
}

.post {
    background-color: #fff;
    padding: 1em;
    min-height: 100%;
}

.feature-img {
	border-radius: 15px;
    margin-bottom: 2.5em;
}

#comments {
    margin-top: 1.5em;
    border-top: 2px solid #333;
    padding-top: 0.5em;
}

.search-results {
	padding-bottom: 2em;
}

.no-results {
	padding-top: 2em;
}