.title {
    padding-top: 2em;
    padding-bottom: 1em;
}

.post {
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 100%;
}

.post-content {
    padding-bottom: 2em;
}

.feature-img {
	border-radius: 15px;
    margin-bottom: 2.5em;
}