.bio {
	textarea {
		height: 190px;
        border-radius: 0;
	}
}

.btn-register {
	color: #fff;
	padding-top: 0.8em;
	padding-bottom: 0.8em; 
    background-color: #1bbc9b;
    border-color: #1bbc9b;
    border-radius: 0px;
    text-transform: uppercase;

    &:hover {
    	color: #fff;
    	background-color: #16967c;
    	border-color: #16967c;
    }
}