@import 'clearfix';
@import 'taggle';
@import 'nav';
@import 'home';

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.img-responsive {
	display: inline;
}

footer {
	background-color: #3e3f49;
	color: #fff;
    padding-bottom: 3em;
    padding-top: 1.5em;
}